<%-include('../cabecalho.ejs')%>
    <h1>Generos</h1>
    <div>
        <form action="/genero/lst" method="post">
        <input type="text" name="filtro" placeholder="digite o nome">
         <button type="submit">Pesquisar</button>
    </form>
    </div>
    
    <a href="/genero/add">+ Genero</a>
    <table>
        <tr>
            <td>Nome</td>
            <td>Ações</td>
        </tr>
      
        <%for (const {id, nomedogenero} of Generos) {%>
        <tr>
            <td><%=nomedogenero%></td>
            <td><a href="/genero/edt/<%=id%>">Editar</a>
            <a href="/genero/del/<%=id%>">Excluir</a></td>
        </tr>
        <%}%>
    </table>
 <%-include('../rodape.ejs')%>